:root {
  --borderLeft: #fff;
}

@font-face {
  font-family: Noto Sans;
  src: url("../../assets/fonts/NotoSans-Regular.woff");
}

.card-container {
  max-width: 243px;
  max-height: 162px;
}

img,
mat-card-title,
.card-content,
.card-know-more {
  margin-bottom: 10px;
}

.card-main {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 0px 1px rgba(18, 17, 17, 0.04),
    0px 2px 4px rgba(113, 112, 112, 0.16);
  border-left: 2px solid var(--borderLeft);
  font-family: "Noto Sans";
  font-style: normal;
}

.card-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.card-image {
  width: 32px;
  height: 32px;
}

.card-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  /* Colours/Fonts/2.200 */

  color: #636a75;
}

.card-know-more {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Colours/Primary/2.200 */

  color: #003399;
}
